<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">

    <!-- Input -->
    <ion-input [(ngModel)]="valorInput" placeholder="DIgite um termo"></ion-input>
  
    <!-- Botão desativado -->
    <ion-button [disabled]="!valorInput" color="dark" expand="full" (click)="getJokers()">Exibir jokes</ion-button>
    
    <!-- ngFor para carregar a lista -->
    <div>
      <ul>
        <li *ngFor="let item of piadasFiltradas">
          {{item.pergunta}}
        </li>
      </ul>
    </div>
    
    <div *ngIf="piada">
      <img [src]="url" alt="risada"/>
      <h1>{{ piada.pergunta }}</h1>
      <h1>{{ piada.resposta }}</h1>
    </div>
    
  </div>
</ion-content>
